<div class="container">

  <div class="twoCards">

      <div class="intro">
        <p>Bienvenido a UdlaCodeStart</p>
        <p> </p>
      </div>
    <div class="login">
      <img src='{{imagenURL}}'>
      <form [formGroup]="form">
        <div class="input-group">
          <input type="text" formControlName="userName" required="required" />
          <span>Usuario</span>
        </div>
        <div class="input-group">
          <input type="password" formControlName="password" required="required" />
          <span>Contraseña</span>
        </div>
        <div>
          <button class="btn-inicio-sesion" (click)="loginToDashboard()">Iniciar sesion</button>
        </div>
      </form>
      <p>Iniciar sesión con google</p>
    </div>
  </div>

</div>
