.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2016/03/17/23/07/abstract-1264071_1280.png");
}


img {
    width: 250px;
    height: 245px;
    margin-top: -40px;
}

.login {
    text-align: center;
    width: 380px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 40px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login h2 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 30px;
    text-transform: uppercase;
}

.login .input-group {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.btn-inicio-sesion {
    position: relative;
    width: 50%;
    height: 45px;
    margin-bottom: 25px;
    background: #77dd77;
    border: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.login .input-group input {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    border: 1px solid #000;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 30px;
}

.login .input-group span {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0;
    transition: 0.5s;
    pointer-events: none;
    background: #fff;
}

.login .input-group input:focus~span,
.login .input-group input:valid~span {
    top: -12px;
    left: 12px;
    font-size: 12px;
    padding: 2px 4px;
    /* border: 1px solid #000; */
    background: #77dd77;
    color: #fff;
    border-radius: 10px;
}

.login a {
    font-size: 12px;
    color: grey;
    text-decoration: none;
    display: block;
    text-align: center;

}

.login a span {
    color: #262626;
    font-weight: 600;
}

.btn-inicio-sesion:hover {
    background-color: #006239;
}
