<div class="container">

    <div class="login">
        <img src='{{imagenURL}}'>
        <form>
            <div class="input-group">
                <input type="text" name="" required="required" />
                <span>Usuario</span>
            </div>
            <div class="input-group">
                <input type="password" name="" required="required" />
                <span>Contraseña</span>
            </div>
            <div>
                <button class="btn-inicio-sesion"
                (click)="loginToDashboard()">Iniciar sesion</button>
            </div>
        </form>
        <a href="#">Iniciar sesión con google<span> Click aquí</span></a>
    </div>
</div>
