<div class="container">
    <div class="login">
        <h2>UdlaCode<span class="code-green">Start</span></h2>
        <form>
            <div class="input-group">
                <input type="text" name="" required="required" />
                <span>Usuario</span>
            </div>
            <div class="input-group">
                <input type="password" name="" required="required" />
                <span>Contraseña</span>
            </div>
            <div>
                <button class="btn-inicio-sesion">Iniciar sesion</button>
            </div>
        </form>
        <a href="#">Iniciar sesión con google<span> Click aquí</span></a>
    </div>
</div>
