.sidenav-container {
  height: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2016/03/17/23/07/abstract-1264071_1280.png");
}

.mat-sidenav {
  width: 350px;
  background-color: #222;
}

.info-usuario {
  background-color: #2ab451;
  color: #ffffff;
  font-size: 32px;
  text-transform: uppercase;
  text-shadow: 0 0 5px #424141;
  align-items: center;
  padding-left: 85px;
}

.info-usuario i {
  margin-right: 20px;
}

.mat-toolbar p {
  font-size: 20px;
  margin: 0;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #2ab451;
  justify-content: space-between;
}

.item-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.img2 {
  width: 190px;
  margin-top: 5px;
  margin-left: 10px;
}

.mat-mdc-fab.mat-accent,
.mat-mdc-mini-fab.mat-accent {
  --mdc-fab-container-color: #11d452;
  --mdc-fab-icon-color: #fff;
  --mat-mdc-fab-color: #fff;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.subheader {
  color: inherit;
  font-size: 16px;
  display: block;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.subheader i {
  padding-right: 10px;
  font-size: 18px;
  text-shadow: 0 0 2px #424141;
}

.divImg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgExample {
  max-width: 550px;
  max-height: 100%;

}

.icon-eye {
  font-size: 24px;
}

.custom-icon {
  display: flex;
  justify-content: space-between;
  background: inherit;
  height: 32px;
  padding: 1em;

}

.custom-icon button{
  font-size: 24px;
  color: green;
  border:none;
  background-color: white;
}

.markAsView{
  font-size: 14px;
}
.markAsView input, label{
  cursor: pointer;
}
.exam-info{
  font-size: 16px;
  cursor: pointer;
}

.exam-info i{
  padding-right: 5px;
  padding-left: 15px;
}

.grid-container {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.463);
  backdrop-filter: blur(1px);
  position: relative;
}

.card-content {
  width: 962px;
  display: flex;
  justify-content: center;
  text-align: center;
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 20px;

  padding: 0;
}

.main-container{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  border-radius: 20px;
}
.welcome-card {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  padding: 1em 1em;
  height: 593px;
  overflow-y: auto;
  background: inherit;
  color: #333;
  max-width: 1000px;
  text-align: justify;
}
.card-header-welcome {
  color: #11d452;
  text-align: center;
  text-shadow: #333;
}
.title-welcome {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.card-footer{
  font-size: 18px;
  text-align: justify;
  line-height: 2;
}

.card-footer-Topic{
  font-size: 18px;
  text-align: justify;
  line-height: 2;
  margin:0;
}

/* NAV */

#menu {
  background-color: #222;
  color: #bbb;
}

#menu ul {
  list-style: none;
  margin-top: 0;
  padding: 0
}

#menu ul li {
  border-bottom: 1px solid #2a2a2a;
}

#menu ul li a {
  color: inherit;
  font-size: 16px;
  display: block;
  padding: 20px;
  font-weight: 600;
}

#menu ul a i {
  margin-right: 10px;
  font-size: 19px;
  margin-top: 3px;
  width: 20px;
}

#menu ul a:hover,
#menu ul a.active {
  background-color: #111;
  border-left: 4px solid #008d2d;
  color: #FFCC33;
}

#menu ul a:hover i:first-child {
  color: #008d2d;
}

/* Submenu */
#menu ul li a.active+ul {
  display: block
}

#menu ul li ul {
  margin-top: 0;
  display: none;
}

#menu ul li ul li {
  border-bottom: none;
}

#menu ul li ul li a {
  padding-left: 30px;
}

#menu ul li ul li a:hover {
  background-color: #1A1A1A;
}


#menu * {
  list-style: none;
}

#menu li {
  line-height: 180%;
}

#menu li a {
  color: #222;
  text-decoration: none;
}

#menu input[name="list"] {
  position: absolute;
  left: -1000em;
}

