<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" [(opened)]="opened">

    <mat-toolbar class="info-usuario">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      <p>{{userName}}</p>
    </mat-toolbar>

    <nav id="menu">
      <ul>
        <div class="subheader" (click)="loginToDashboard()"><i class="fa fa-home"></i>Inicio</div>
        <div class="subheader"> <i class="fa fa-leanpub"></i>Datos</div>
        <ul *ngFor="let topic of topicComboBox">
          <li>
            <a class="subheader" (click)="scrollToCard(topic.posistion)">
              {{ topic.name }}
            </a>
          </li>
        </ul>
        <div class="subheader"><i class="fa fa-cubes" aria-hidden="true"></i>Complementarios </div>
        <li><a mat-list-item (click)="openExamModule()">Evaluación</a></li>
      </ul>
    </nav>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="nav-top">
      <div>
        <button mat-mini-fab (click)="opened=!opened" class="menuBar">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <!-- <span><img src='{{imagenURL}}'>Udla Code<b>Start</b></span> -->
      <div class="example-button-container">
        <button mat-mini-fab (click)="exitApp()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <div class="grid-container">
      <div class="main-container">
        <mat-card class="welcome-card ">
          <mat-card-content class="content-welcome">

            <div class="nuevo">
              <p style="font-weight: bold; font-size: 25px;">{{ topicComboBox[currentPos].name }}</p>
            </div>
            <br><br>
            <div *ngFor="let concept of getFilteredConcepts(topicComboBox[currentPos].idTopic)"
              class="card-footer-Topic">
              <p class="card-footer-Topic">{{concept.description}}</p>
            </div>
            <br><br>
            <div *ngIf="getFilteredExamplesBool(topicComboBox[currentPos].idTopic)">
              <p style="font-weight: bold; font-size: 25px;"> Ejemplos</p>
            </div>
            <br>
            <div *ngFor="let examples of getFilteredExamples(topicComboBox[currentPos].idTopic)"
              class="card-footer-Topic">
              <p class="card-footer-Topic">{{examples.description}}</p>
              <br>
              <div *ngIf="examples.url && examples.type === 1" class="divImg">
                <span><img class="imgExample" src='{{examples.url}}'></span>
              </div>
              <div *ngIf="examples.url && examples.type === 2" class="divImg">
                <youtube-player videoId="{{examples.url}}" suggestedQuality="highres" [height]="250" [width]="500">
                </youtube-player>
              </div>
            </div>
          </mat-card-content>

        </mat-card>
        <div class="custom-icon">
          <button [disabled]="currentPos===0" (click)="previousQuestion()">
            <fa-icon [icon]="fachevronleft"></fa-icon>
          </button>
          <button *ngIf="currentPos!=topicComboBox.length-1" (click)="nextQuestion()">
            <fa-icon [icon]="fachevronrigth"></fa-icon>
          </button>
          <div *ngIf="currentPos==topicComboBox.length-1">
            <button>
              <div class="markAsView">
                <input type="checkbox" name="opcion2" id="opcion2" [checked]="countTopic==topicComboBox.length"
                  (change)="handleCheckboxChange($event)">
                <label for="opcion2">Marcar como visto</label><br>
              </div>
            </button>
            <button *ngIf="completedTopic" (click)="openExamModule()">
              <div class="exam-info">
                <i class="fa fa-book" aria-hidden="true"></i>Evaluación
              </div>
            </button>
          </div>

        </div>
      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
