.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  max-width: 400px;
  max-height: 500px;
}

.dashboard-card-content {
  text-align: center;
}

.example-header-image {
  height: 250px;
  width: 100%;
  position: relative;
}

.card-footer {
  margin-top: 10px;
}

.nuevo {
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redirectTo {
  cursor: pointer;
}
