<div class="row">
    <div class="col">
      <div class="login-register imageLog">
        <div class="login-box card ">
          <div class="card-header headerClass">
            <figure class="Login-figure">
              <img class="Login-image" src="assets\Img\logo-hogar-salud.gif" alt="Sistemas de Información HSAPP"
                class="Login-image" />
            </figure>
          </div>
          <div class="card-body boxFormLogin">
  
            <form [formGroup] = "dialogForm" #form >
              <div class="form-group fieldLogin">
                <label formControlName="userName">Nombre de Usuario:</label>
                <em>Requerido</em>
                <input autocomplete="off" name="userName" required id="userName" type="text"
                  class="form-control inputlogin" placeholder="Nombre de Usuario..." />
              </div>
              <div class="form-group fieldLogin">
                <label for="password">Contraseña:</label>
                <em>Requerido</em>
                <input name="password" required id="password" type="password" class="form-control"
                  placeholder="Contraseña..." />
              </div>
  
              <span>
                <div class="form-group text-center m-t-20">
                  <button type="submit" class="btn btn-default bottonStyle">
                    <i class="fa fa-check-circle icon-Login"></i>Iniciar sesión
                  </button>
                </div>
              </span>
            </form>

            <div *ngIf="loginInvalid" class="alert alert-danger">{{mensajeError}}</div>
  
            <div style="text-align: center;" class="clickable">
              <a href="newpassword">¿Olvidaste tu contraseña?</a>
            </div>

          </div>
        </div>
      </div>
  
      <footer class="Footer Footer-login hidden-xs-down">
        <div class="container">
          <div class="col-md-12 Footer-part1 ">
            <div class="row">
  
            </div>
          </div>
          <div class="col-xs-12 Footer-part2 ">
            <p class="Footer-description">
              HogarSalud IPS - Todos los derechos
              Reservados © 2019 Versión 1.0.0
            </p>
          </div>
        </div>
      </footer>

    </div>
  </div>