<div class="row">
  <div class="col">
    <div class="login-register imageLog">
      <div class="login-box card ">

        <div class="card-body boxFormLogin">
          <mat-card>
            <form [formGroup]="dialogForm" #form>
              <div class="card-header headerClass">
                <h1>UDLACodeStart</h1>
              </div>
              <mat-card-content>
                <form class="example-form">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre de Usuario</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ej. napellido">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Por favor, ingrese un nombre de usuario válido
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Nombre de usuario <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </form>
                <form class="example-form">
                  <mat-form-field class="example-full-width">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput [formControl]="emailFormControl" placeholder="Ej. napellido">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Por favor, ingrese una contraseña
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Contraseña <strong>requerida</strong>
                    </mat-error>
                  </mat-form-field>
                </form>
                <span>
                  <div class="form-group text-center m-t-20">
                    <button mat-raised-button color="primary" type="submit"><i
                        class="fa fa-check-circle icon-Login"></i>Iniciar sesión</button>
                  </div>
                </span>
              </mat-card-content>
            </form>
          <div style="text-align: center;" class="clickable">
            <a href="newpassword">¿Olvidaste tu contraseña?</a>
          </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>