.sidenav-container {
  height: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2016/03/17/23/07/abstract-1264071_1280.png");
}

.card-content {
  width: 1000px;
  display: flex;
  justify-content: center;
  text-align: center;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #2ab451;
  justify-content: space-between;
}

.mat-sidenav {
  width: 350px;
  background-color: #222;
}

.info-usuario {
  background-color: #2ab451;
  color: #ffffff;
  font-size: 32px;
  text-transform: uppercase;
  text-shadow: 0 0 5px #424141;
  align-items: center;
  padding-left: 85px;
}

.info-usuario i {
  margin-right: 20px;
}

.mat-toolbar p {
  font-size: 20px;
  margin: 0;
}

a:hover {
  cursor: pointer;
}

.subheader {
  color: inherit;
  font-size: 16px;
  display: block;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.subheader i {
  padding-right: 10px;
  font-size: 18px;
  text-shadow: 0 0 2px #424141;
}

.item-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

img {
  width: 90px;
  margin-top: 4px;
}

.mat-mdc-fab.mat-accent,
.mat-mdc-mini-fab.mat-accent {
  --mdc-fab-container-color: #11d452;
  --mdc-fab-icon-color: #fff;
  --mat-mdc-fab-color: #fff;
}

.grid-container {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.463);
  backdrop-filter: blur(1px);
  position: relative;
}

.dashboard-card {
  width: 960px;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  background: white;
  border-radius: 10px;
  flex-direction: row;
}

.meta {
  flex: 1;
  padding-right: 1rem;
  border-radius: 10px;
}

.meta .photo {
  height: 200px;
  border-radius: 10px 0 0 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.description {
  flex: 1;
  /* padding-left: 1rem; */
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: left;
}

h1 {
  color: #11d452;
  font-size: 20px;
  text-shadow: #333;
  line-height: 1;
  margin: 0;
}

.description p {
  font-size: 18px;
  color: black;
}

.description p {
  position: relative;
  margin: 1rem 0 0;
}

.read-more {
  text-align: right;
}

.read-more a {
  color: #11d452;
  display: inline-block;
  position: relative;
  font-size: 14px;
}

/* Clase para iconos marcados */
.icon-star {
  color: rgb(255, 242, 0);
}

.icon-star-o {
  color: grey;
}

.example-header-image {
  height: 170px;
  width: 100%;
}

.welcome-card {
  padding: 2em 3em;
  border-radius: 10px;
  line-height: 1.6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  color: #333;
  max-width: 962px;
  text-align: justify;
}

.card-header-welcome {
  color: #11d452;
  text-align: center;
  text-shadow: #333;
  border-radius: 10px 10px 0 0;
}

.title-welcome {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  /* margin: 16px 0; */
}

.content-welcome {
  margin-top: 20px;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

.welcome-card li {
  margin-bottom: 10px;
}

/* NAV */

#menu {
  background-color: #222;
  color: #bbb;
}

#menu ul {
  list-style: none;
  margin-top: 0;
  padding: 0
}

#menu ul li {
  border-bottom: 1px solid #2a2a2a;
}

#menu ul li a {
  color: inherit;
  font-size: 16px;
  display: block;
  padding: 20px;
  font-weight: 600;
}

#menu ul a i {
  margin-right: 10px;
  font-size: 19px;
  margin-top: 3px;
  width: 20px;
}

#menu ul a:hover,
#menu ul a.active {
  background-color: #111;
  border-left: 4px solid #008d2d;
  color: #FFCC33;
}

#menu ul a:hover i:first-child {
  color: #008d2d;
}

/* Submenu */
#menu ul li a.active+ul {
  display: block
}

#menu ul li ul {
  margin-top: 0;
  display: none;
}

#menu ul li ul li {
  border-bottom: none;
}

#menu ul li ul li a {
  padding-left: 30px;
}

#menu ul li ul li a:hover {
  background-color: #1A1A1A;
}


#menu * {
  list-style: none;
}

#menu li {
  line-height: 180%;
}

#menu li a {
  color: #222;
  text-decoration: none;
}

#menu input[name="list"] {
  position: absolute;
  left: -1000em;
}
