<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" [(opened)]="opened">

    <mat-toolbar class="info-usuario">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      <p>{{userName}}</p>
    </mat-toolbar>

    <nav id="menu">
      <ul>
        <div class="subheader"><i class="fa fa-home"></i>Inicio</div>
        <div class="subheader"> <i class="fa fa-leanpub"></i>Aprendizaje</div>
        <ul *ngFor="let aprendizaje of moodleComboBox">
          <li>
            <a mat-list-item (click)="goToModule(aprendizaje.name, aprendizaje.idMoodle)">
              {{ aprendizaje.name }}
              <i *ngIf="!infoMoodle[aprendizaje.idMoodle-1]" class="fa fa-star-o icon-star-o" aria-hidden="true"></i>
              <i *ngIf="infoMoodle[aprendizaje.idMoodle-1]" class="fa fa-star icon-star" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </ul>
    </nav>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary" class="nav-top">
      <div>
        <button mat-mini-fab (click)="opened=!opened" class="menuBar">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <!-- <span><img src='{{imagenURL}}'>Udla Code<b>Start</b></span> -->
      <div class="example-button-container">
        <button mat-mini-fab (click)="exitApp()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <div class="grid-container">
      <mat-card class="welcome-card">
        <mat-card-header class="card-header-welcome">
          <mat-card-title class="title-welcome">Bienvenido a Udla CodeStart</mat-card-title>
        </mat-card-header>
        <mat-card-content class="content-welcome">
          <p>En Udla CodeStart, te ofrecemos una experiencia educativa única y envolvente, diseñada para que puedas
            explorar, aprender y dominar los fundamentos esenciales de la programación de manera divertida y práctica.
          </p>
          <p>No importa si eres principiante o si ya tienes algún conocimiento previo en programación, en Udla CodeStart
            encontrarás el apoyo que necesitas para avanzar en tu camino hacia el dominio de la lógica de programación y
            la resolución de problemas.</p>
          <p>¡Prepárate para un emocionante viaje de aprendizaje! Únete a nuestra comunidad y comienza a desarrollar tus
            habilidades en programación hoy mismo.</p>
        </mat-card-content>
      </mat-card>

    </div>

    <div class="grid-container">

      <mat-card class="card-content">

        <mat-grid-list cols="1" rowHeight="220px">

          <mat-grid-tile *ngFor="let card of moodleComboBox" [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card">
              <div class="meta">
                <div class="photo" style="background-image: url({{card.urlImg}})"></div>
              </div>
              <div class="description">
                <h1>{{card.name}}</h1>
                <p> En este apartado podrás encontrar todo lo relaciona a {{card.name}}. Aquí encontrarás conceptos ejemplos y al finalizar
                  un examen para descubrir que tanto has aprendido.</p>
                <p class="read-more">
                  <a class="redirectTo" (click)="goToModule(card.name, card.idMoodle)">Aprende más sobre {{card.name}}</a>
                </p>
              </div>
            </mat-card>
          </mat-grid-tile>

        </mat-grid-list>

      </mat-card>

    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
