.container {
  border-radius: 100px;
  width: 800px;
}

.info-ini {
  padding: 2em;
  display: flex;
  /* justify-content: space-between; */
  color: white;
  background-color: #2ab451;
}

.info-general {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 12px;
}

.custom-icon {
  display: flex;
  justify-content: end;
}

.disable-click {
  pointer-events: none;
}

button{
  font-size: 24px;
  color: green;
  border:none;
  background: inherit;
}

.revision-info button{
  font-size: 16px;
  cursor: pointer;
}

.revision-info i{
  padding-left: 15px;
  padding-right: 5px;
}

.card {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 100px;
}

.correctAnswer h3{
  color: #2ab451;
}

.data{
  padding: 2em;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0;
  border: none;
}

li .card:hover {
  border: 1px solid rgb(0, 255, 38);
}

ol {
  padding: 0;
}
