<div class="container">

  <div class="info-ini">
    <div class="image">
      <img src="\assets\img\CodeStart (3).png" width="90" alt="logo">
    </div>
    <div class="quiz-header">
      <h4>Este es el apartado de evaluación</h4>
      <span>Bienvenido {{userName}}</span>
    </div>
  </div>
  <div class="data">

    <ng-container *ngIf="!isQuizCompleted">

      <div class="info-general">
        <div class="question-remain">
          <span>Pregunta {{currentQuestion+1}} de {{questionComboBox.length}}</span>
        </div>
        <div class="timer">
          <span>{{counter}} segundos ⏱</span>
        </div>
      </div>

      <div class="question">
        <div class="card">
          <h3>{{questionComboBox[currentQuestion].description}}</h3>
        </div>
      </div>

      <div class="options">
        <ol *ngFor="let option of answerComboBox">
          <li *ngIf="questionComboBox[currentQuestion].idQuestion === option.idQuestion"
            (click)="answer(currentQuestion+1,option)">
            <div appChangeBg [isCorrect]="option.isCorrect" class="card">
              {{option.description}}
            </div>
          </li>
        </ol>
      </div>

      <div class="custom-icon">
        <button [disabled]="currentQuestion===0" (click)="previousQuestion()">
          <fa-icon [icon]="fachevronleft"></fa-icon>
        </button>
        <button (click)="resetQuiz()">
          <fa-icon [icon]="farefresh"></fa-icon>
        </button>
        <button (click)="nextQuestion()">
          <fa-icon [icon]="fachevronrigth"></fa-icon>
        </button>
      </div>

    </ng-container>

    <ng-container *ngIf="isQuizCompleted">
      <div class="custom-icon">
        <img style="width: 50%;" class="img-fluid col-sm-12 mx-auto"
          src="https://icon-library.com/images/celebration-icon-png/celebration-icon-png-7.jpg" alt="">
        <div class="result text-center col-md-6 col-sm-12">
          <h3>Felicidades! <br>Haz completado el examen. <br>Estos son tus resultados:</h3>
          <p>Total de preguntas : {{questionComboBox.length}} </p>
          <p>Total de respuestas correctas : {{correctAnswer}} </p>
          <p>Total de respuestas incorrectas : {{inCorrectAnswer}} </p>
        </div>
      </div>
    </ng-container>

  </div>

</div>
