<div class="container">

  <div class="info-ini">
    <div class="image">
      <img src="\assets\img\CodeStart (3).png" width="90" alt="logo">
    </div>
    <div class="quiz-header">
      <h4>Este es el apartado de evaluación</h4>
      <span>Bienvenido {{userName}}</span>
    </div>
  </div>

  <div class="data">

    <ng-container *ngIf="!isQuizCompleted">

      <div class="info-general">
        <div class="question-remain">
          <span>Pregunta {{currentQuestion+1}} de {{questionComboBox.length}}</span>
        </div>
        <div class="timer">
          <span>{{counter}} segundos ⏱</span>
        </div>
      </div>

      <div class="question">
        <div class="card">
          <h3>{{questionComboBox[currentQuestion].description}}</h3>
        </div>
      </div>

      <div class="options">
        <ol *ngFor="let option of answerComboBox; let i = index">
          <li *ngIf="questionComboBox[currentQuestion].idQuestion === option.idQuestion"
          [class.disable-click]="!isClickEnabled" (click)="answer(option.idQuestion,currentQuestion+1,option)">
            <div appChangeBg [isCorrect]="option.isCorrect" class="card"  [class.selected]="selectedOptionIndex === i">
              {{option.description}}
            </div>
          </li>
        </ol>
      </div>
      <div *ngIf="isIncorrectAnswer" class="correctAnswer">
        <div class="card">
          <h3>Respuesta correcta: {{stringCorrectAnswer}}</h3>
        </div>
      </div>
      <div class="custom-icon">
        <button *ngIf="currentQuestion!=questionComboBox.length-1" (click)="nextQuestion()">
          <fa-icon [icon]="fachevronrigth"></fa-icon>
        </button>
        <div class="revision-info" *ngIf="currentQuestion===questionComboBox.length-1">
          <button (click)="goToRevision()">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>Finalizar intento
          </button>
        </div>
      </div>

    </ng-container>

    <ng-container *ngIf="isQuizCompleted">
      <div class="custom-final">
        <img class="img-fluid"
          src="https://icon-library.com/images/celebration-icon-png/celebration-icon-png-7.jpg" alt="">
        <div class="result text-center col-md-6 col-sm-12">
          <h3>Felicidades! <br>Haz completado el examen. <br>Estos son tus resultados:</h3>
          <p>Total de preguntas : {{questionComboBox.length}} </p>
          <p>Total de respuestas correctas : {{correctAnswer}} </p>
          <p>Total de respuestas incorrectas : {{inCorrectAnswer}} </p>
          <br><br><br>
          <button *ngIf="correctAnswer!=questionComboBox.length" (click)="resetQuiz()">
            <fa-icon [icon]="farefresh"></fa-icon>
            Volver a intentar examen
          </button>
          <button *ngIf="correctAnswer===questionComboBox.length" (click)="finishQuiz()">
            <i class="fa fa-check" aria-hidden="true"></i>
            Finalizar examen
          </button>
        </div>
      </div>
    </ng-container>

  </div>

</div>
